.header {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 10rem);


    .img {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
        grid-row: 1/ -1;
        grid-column: 1/-1;
        overflow: hidden;
    }
}