.works {

    background-color: #2c2a26;


    .work-space {
        display: flex;
        //grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        align-items: start;
        justify-items: center;
        padding: 3rem;
        padding-bottom: 20rem;
    }

    .works-card {
        padding: 1rem;
        margin: 0 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    p {
        color: #fff;
    }

    i {
        font-size: 6rem;
        color: #bea07b;
    }

}